*{
    box-sizing: border-box;
}

body, input{
    font-size: 1em;
    font-family: 'Caveat', sans-serif;
    color: rgb(0, 0, 0);
}

ul, .title-cont{
	display: flex;
	width: 100%;
	margin: auto;
	max-width: 1000px;
	justify-content: space-around;
	text-align: center;
}

h1{
    font-size: 4em;
    color: white;
}

li {
	padding: 0.5rem 1.5rem 0.5rem ;
    text-transform: uppercase;
    cursor: pointer;
    list-style-type: none;
    font-size: 2em;
}

.input:focus {
    outline: none;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(0, 221, 250) 52%, rgba(255,205,180,1) 100%);
}

a {
    text-decoration: none;
    color: white;
}

.input {
    width: 100%;
}

.list, .list-cont{
    background-color:rgba(41, 107, 230, 0.5);
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 4px 4px rgb(26, 26, 26);
}

.items{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.items li, .item-add .input {
    border: 0;
    padding: 10px 0;
    border-bottom: 1px dashed rgb(143, 141, 141);
}

.items .item.done {
    text-decoration: line-through;
}

.items li:hover .done-button{
    opacity: 1;
}

.done-button {
    display: inline-block;
    font-size: 0.7em;
    color: black;
    padding: 3px 6px;
    border: 0;
    opacity: 0.5;
}

.submit {
    background-color: white;
    padding: 10px;
    border: 1px solid rgb(143, 141, 141);
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 14px; 
    color: white;   
}








