*{
    box-sizing: border-box;
}

body, input{
    background-color :#f5f5f5;
    font-size: 1.5em;
    font-weight: 550;
    font-family: 'Caveat', sans-serif;    
}

ul, .title-cont{
	display: flex;
	margin: auto;
	justify-content: space-around;
}

h1{
    font-size: 3em;
}

a {
    text-decoration: none;
}

li {
	padding: 0.5rem 1.5rem 0.5rem ;
    text-transform: uppercase;
    cursor: pointer;
    list-style-type: none;
    font-size: 2em;
}

.input:focus, .item:focus {
    outline: none;
}

.input, .item{
    width: 100%;
    border: none;
    padding: 5px;
    border-top: 1px dashed rgb(143, 141, 141);
    border-bottom: 1px dashed rgb(143, 141, 141);
}

#list{
    padding: 70px 10px;
    background-color:rgba(146, 146, 146, 0.423);

}   

.list, .items{
    background-color:rgba(146, 146, 146, 0.123);
    margin: 10px auto;
    max-width: 650px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px rgb(136, 136, 136);    
}

.submit {
    display: inline-block;
    font-family: 'Caveat', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
    background-color: white;
    padding: 8px;
    border: 1px solid rgba(143, 141, 141, 0.5);
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    opacity: 0.8;
}

.submit:hover {
    opacity: 1;
    border: 1px solid rgb(114, 114, 114);
}

#comment, .comment, .due{
    font-size: 1em;
    color: rgb(136, 136, 136);
}

#dueL{
    font-size: 0.8em;
}

.regForm, .loginForm {
    margin-top: 20px;
}
.logBox{
    height: 25px;
}

#logoutBtn{
    float: right;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 14px; 
}

.bad-login, .error-page, .about-page, .err-w{
    font-family: sans-serif;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    font-size: 0.5em;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #001aff, 1px 1px 0px #ff005a;
}
